.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: #17665e;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: 10;
    transition: .4s;
}
.scrollup--icon{
    font-size: 1.5rem;
    color: white;
}
.scrollup:hover{
    background-color: #12504a;
}

.show-scroll{
    bottom: 3rem;
}